<footer>
  <ul class="items">
    <li class="item"><a>经典</a></li>
    <li class="item"><a>冷门佳片</a></li>
    <li class="item"><a>豆瓣高分</a></li>
    <li class="item"><a>动作</a></li>
    <li class="item"><a>喜剧</a></li>
    <li class="item"><a>爱情</a></li>
    <li class="item"><a>悬疑</a></li>
    <li class="item"><a>恐怖</a></li>
    <li class="item"><a>科幻</a></li>
    <li class="item"><a>治愈</a></li>
    <li class="item"><a>文艺</a></li>
    <li class="item"><a>成长</a></li>
    <li class="item"><a>动画</a></li>
    <li class="item"><a>华语</a></li>
    <li class="item"><a>欧美</a></li>
    <li class="item"><a>韩国</a></li>
    <li class="item"><a>日本</a></li>
  </ul>
</footer>
