.item{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 50%;
    float: left;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}
.item a {
    color: #42bd56;
}
.item:last-of-type{
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}
.item:nth-last-of-type(2){
    border-bottom: 1px solid #eee;
}