<div class="content">
  <div class="nav">
    <h1>{{movies?.subject_collection.name}}</h1>
    <span><a class="list_more" routerLink="/more/{{moviesId}}">更多</a></span>
  </div>
  <div class="listcontent">
    <ul>
      <li *ngFor="let movie of movies?.subject_collection_items">
        <a routerLink="/detail/{{movie.id}}">
          <img src="{{movie.cover.url}}" alt="">
          <p>{{movie.title}}</p>
          <p>评分：{{movie.rating?.value || '未评分'}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
