<app-head></app-head>
<div class="detail_head">
  <h1>{{movieDetail?.title}}</h1>
  <p>
    评分：{{movieDetail?.rating?.average}}
    <span>{{movieDetail?.ratings_count}}评价</span>
  </p>
  <p>{{movieDetail?.year}}
    （{{movieDetail?.countries}}）/
    <small *ngFor="let genres of movieDetail?.genres">
      {{genres}}/
    </small>
    <small *ngFor="let name of movieDetail?.casts">
      {{name.name}}/
    </small>
    {{movieDetail?.mainland_pubdate}}（中国大陆）上映</p>
</div>
<img src="{{movieDetail?.images.large}}" class="detail_img" alt="">
<div class="detail_btn">
  <a href="">想看({{movieDetail?.wish_count}})</a>
  <a href="">看过({{movieDetail?.collect_count }})</a>
</div>
<div class="detail_text">
  <p class="detail_p">{{movieDetail?.title}}的剧情简介</p>
  <p>{{movieDetail?.summary}}</p>
</div>

<div class="detail_text">
  <p class="detail_p">{{movieDetail?.title}}的预告片和图片</p>
  <div class="detail_content">
    <ul>
      <li *ngFor="let item of moviePhoto?.photos">
        <img src="{{item.image.large.url}}" alt="">
      </li>
    </ul>
  </div>
</div>

<div class="detail_text">
  <p class="detail_p">{{movieDetail?.title}}的短评（{{movieDetail?.comments_count}}）</p>
  <div class="evaluate" *ngFor="let item of movieComments?.interests">
    <img src="{{item.user.avatar}}" alt="">
    <div>
      <h3>{{item.user.name}} <span>{{item.rating.value}}星</span></h3>
      <p>{{item.create_time}}</p>
      <p>{{item.comment}}</p>      
    </div>
  </div>
</div>

<div class="detail_text">
  <p class="detail_p">{{movieDetail?.title}}的影评（{{movieDetail?.reviews_count}}）</p>
</div>

