.detail_head h1{
    margin: 30px 0 5px;
    font-size: 24px;
    line-height: 32px;
    word-break: break-all;
    font-weight: normal;
}
.detail_head{
    padding: 0 18px;
    width: 64%;
    float: left;
}
.detail_head p:nth-of-type(1){
    color: #494949;
    font-size: 15px;
    padding-right: 8px;
}
.detail_head p span{
    color: #aaa;
}
.detail_head p:nth-of-type(2){
    color: #494949;
    font-size: 14px;
}
.detail_img{
    float: right;
    width: 19%;
    margin-top: 70px;
    margin-right: 20px;
}
.detail_btn{
    clear: both;
    display: flex;
    text-align: center;
    padding: 10px 30px;
}
.detail_btn a {
    flex: 1;
    border: 1px solid #ffb712;
    color: #ffb712;
    padding: 6px;
}
.detail_text{
    padding:20px 18px;
}
.detail_text .detail_p {
    color: #aaa;
    margin-bottom: 15px;
    font-size: 15px;
}
.detail_text p:nth-of-type(2) {
    color: #494949;
    font-size: 15px;
}
.evaluate img{
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
.evaluate div{
    margin-left: 50px;
}
.evaluate div h3{
    color: #494949;
    font-size: 15px;
    font-weight: normal;
}
.evaluate div h3 span{
    color: #aaa;
    font-size: 12px;
}